image: node:24

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
    - when: never

stages:
  - test
  - sample

default:
  before_script:
    - corepack enable

test:
  stage: test
  script:
    - yarn install
    - yarn test

sample:
  stage: sample
  needs:
    - test
  script:
    - yarn install
    - INPUT_STORAGETYPE='files' INPUT_OPMLFILE='feeds.opml' node --import tsx index.ts
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
