image: node:24

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
    - when: never

stages:
  - test
  - sample

cache:
  key:
    files:
      - yarn.lock
  paths:
    - .yarn/cache

default:
  before_script:
    - corepack enable

test:
  stage: test
  script:
    - yarn install
    - yarn test

sample:
  stage: sample
  needs:
    - test
  script:
    - yarn install
    - node --import tsx scripts/gitlab-sample.ts
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
