{% macro categoryList(root = '', categories = [], currentCategory = '') %}
<aside class="prose w-full sm:w-48 xl:w-96 flex-shrink-0 p-6 block">
  <h1>Feeds</h1>
  <h2 class="cursor-pointer"><a>All sites</a></h2>
  {% for category in categories %}
  <h2 class="cursor-pointer">
    <a>{{ category.name }}</a>
  </h2>
  {% if category.name == currentCategory %}
  <ul>
    {% for site in category.sites %}
      <li><a>{{ site.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endfor %}
  <div class="pb-8"></div>
</aside>
{% endmacro %}

{% macro entryList(root = '', entries = [], sites = {}) %}
<section class="prose pb-4 w-full sm:w-96 flex-shrink-0 p-6 sm:overflow-auto hidden sm:block">
  <a class="cursor-pointer sm:hidden">
    ← Back
  </a>
{% for entry in entries %}
  <div>
    <h3>
      <a href="{{root}}/entries/{{ entry.entryHash | lower }}">{{ entry.title }}</a>
    </h3>
    <small>
      <a href="{{root}}/sites/{{ entry.siteHash }}">{{ sites[entry.siteHash].title }}</a>,
      {{ entry.date | distanceDate }}
    </small>
  </div>
{% else %}
  <div>
    <h3>No contents</h3>
  </div>
{% endfor %}
  <div class="pb-8"></div>
</section>
{% endmacro %}

{% macro content(item = null) %}
<article class="prose pb-4 max-w-full break-words flex-grow p-6 lg:overflow-auto hidden lg:block">
  <a class="cursor-pointer lg:hidden">
    ← Back
  </a>
{% if item %}
  <h3>
    <a href="{{item.link}}" target="_blank">{{ item.title }}</a>
  </h3>
  <div>
    {{ item.content | decodeBase64 | safe }}
  </div>
{% endif %}
  <div class="pb-8"></div>
</article>
{% endmacro %}