---
layout: 'layouts/base.njk'
permalink: "sites/all/"
---
{% from 'components.njk' import categoryList, entryList, content %}

{{ categoryList(root = github.repository, categories = feeds) }}
{{ entryList(root = github.repository, entries = allEntries, sites = sites) }}
{{ content() }}