---
layout: 'layouts/base.njk'
pagination:
    data: feeds
    size: 1
    alias: feed
permalink: "categories/{{ feed.name | slug }}/"
---
{% from 'components.njk' import categoryList, entryList, content %}
{{ categoryList(root = github.repository, categories = feeds, currentCategory = feed.name) }}
{{ entryList(root = github.repository, entries = feed.entries, sites = sites) }}
{{ content() }}