---
layout: layouts/base.njk
pagination:
    data: feeds
    size: 1
    alias: feed
permalink: "categories/{{ feed.name | slug }}/"
---

<div class="container mx-auto">
  <aside>
    <h1>Feeds</h1>

    {% for category in feeds %}
      <h2>
        <a href="/categories/{{category.name}}">{{ category.name }}</a>
      </h2>
      <ul>
        {% for item in category.items %}
          <li><a href="/sites/{{item.site}}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}
  </aside>
  <article>
  </article>
</div>