---
pagination:
    data: entries
    size: 1
    alias: entry
permalink: "entries/{{ entry | slug }}/"
sites: sites
---

{% extends 'layouts/feeds.njk' %}
{% set entryItem = entries[entry] %}
{% block categories %}
  <h2><a href="{{github.repository}}/sites/all">All sites</a></h2>
  {% for category in feeds %}
  <h2>
    <a href="{{github.repository}}/categories/{{ category.name | lower }}">{{ category.name }}</a>
  </h2>
  {% if category.name == entryItem.category %}
  <ul>
    {% for item in category.items %}
      <li><a href="{{github.repository}}/sites/{{ item.site | lower }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endfor %}
{% endblock %}

{% block sites %}
  {% set siteEntries = sites[entryItem.site].entries %}
  {% for entry in siteEntries %}
    <div>
      <h3>
        <a href="{{github.repository}}/entries/{{ entry.hash | lower }}">{{ entry.title }}</a>
      </h3>
    </div>
  {% endfor %}
{% endblock %}

{% block article %}
  <h3>{{ entryItem.title }}</h3>
  <div>
    {{ entryItem.content | safe }}
  </div>
{% endblock %}
