---
layout: 'layouts/base.njk'
pagination:
    data: entries
    size: 1
    alias: entry
permalink: "entries/{{ entry | slug }}/"
---
{% from 'components.njk' import categoryList, entryList, content %}

{% set entryItem = entries[entry] %}
{% set siteItem = sites[entryItem.siteHash] %}
{{ categoryList(root = github.repository, categories = categories, currentCategory = entryItem.category) }}
{{ entryList(root = github.repository, entries = siteItem.entries, sites = sites) }}
{{ content(item = entryItem) }}
