---
layout: 'layouts/base.njk'
---
{% from 'components.njk' import categoryList, entryList, content %}

{{ categoryList(root = github.repository, categories = feeds) }}
{{ entryList(root = github.repository, sites = sites) }}
{{ content(item = entryItem) }}