{% extends 'layouts/base.njk' %}
{% from 'components.njk' import categoryList, entryList, content %}

{% block content %}
{{ categoryList(root = github.repository, categories = categories) }}
{{ entryList(root = github.repository, sites = sites) }}
{{ content(item = entryItem) }}
{% endblock %}
{% block scripts %}
<script id='github' type='application/json'>
  {{ github | dump | safe }}
</script>
<script id='categories' type='application/json'>
  {{ categories | dump | safe }}
</script>
<script src="{{github.repository}}{{ '/js/index.js' | url }}"></script>
{% endblock %}