---
layout: 'layouts/base.njk'
pagination:
  data: sites
  size: 1
  alias: site
permalink: "sites/{{ site | slug }}/"
---
{% from 'components.njk' import categoryList, entryList, content %}

{% set siteItem = sites[site] %}
{{ categoryList(root = github.repository, categories = feeds, currentCategory = siteItem.category) }}
{{ entryList(root = github.repository, entries = siteItem.entries, sites = sites) }}
{{ content() }}