---
pagination:
    data: sites
    size: 1
    alias: site
permalink: "sites/{{ site | slug }}/"
---
{% extends 'layouts/feeds.njk' %}

{% block categories %}
  <h2><a href="{{github.repository}}/sites/all">All sites</a></h2>
  {% for category in feeds %}
  <h2>
    <a href="{{github.repository}}/categories/{{ category.name | lower }}">{{ category.name }}</a>
  </h2>
  {% if category.name == sites[site].category %}
  <ul>
    {% for item in category.items %}
      <li><a href="{{github.repository}}/sites/{{ item.site | lower }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endfor %}
{% endblock %}

{% block sites %}
  {% set siteEntries = sites[site].entries %}
  {% for entry in siteEntries %}
  <div>
    <h3>
      <a href="{{github.repository}}/entries/{{ entry.hash | lower }}">{{ entry.title }}</a>
    </h3>
    <small>
      <a href="{{github.repository}}/sites/{{entry.site}}">{{ sites[site].title }}</a>,
      {{ entry.date | distanceDate }}
    </small>
  </div>
  {% endfor %}
{% endblock %}
