<!doctype html>
<html lang="{{ lang or 'en' }}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    Feeds
  </title>
  <meta name="description" content="Feeds Aggregator">
  <link rel="stylesheet" href="{{github.repository}}{{ '/css/tailwind.css' | url }}">
  <link rel="stylesheet" href="{{github.repository}}{{ '/css/index.css' | url }}">

  {{ content | safe }}
</html>