{% extends 'layouts/base.njk' %}
{% block content %}
<div class="container flex flex-row w-screen h-screen">
  <aside class="prose w-96 flex-shrink-0 p-6">
    <h1><a href="{{github.repository}}/">Feeds</a></h1>

    {% block categories %}
      <h2>No contents</h2>
    {% endblock %}
  </aside>
  <section class="prose w-96 flex-shrink-0 p-6">
    {% block sites %}
      <h3>No contents</h3>
    {% endblock %}
  </section>
  <article class="prose flex-grow p-6">
    {% block article %}
    No contents
    {% endblock %}
  </article>
</div>
{% endblock %}