name: Dev

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Test
        run: |
          yarn install
          yarn test

  sample:
    runs-on: ubuntu-latest
    needs: [test]
    if: github.ref == 'refs/heads/github-action-6'
    name: Sample
    steps:
      - name: Run Action
        uses: llun/feeds@github-action-6
        with:
          storageType: files
